*{
    box-sizing: border-box;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: blue;
    color: white;
    padding: 15px;
}
nav ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
nav li{
    padding: 8px;
    margin-bottom: 7px;
    background-color: cyan;
    color: white;
    box-shadow: 0px 2px 3px gray;
}

a{
    text-decoration: none;
}

nav li:hover{
    background-color: rgb(195, 255, 255);
}

aside{
    background-color: rgb(105, 146, 146);
    padding: 15px;
    color: rgb(162, 236, 255);
    text-align: center;
    font-size: 14px;
    box-shadow: 0px 2px 3px gray;
}

footer{
    background-color: cyan;
    color: white;
    font-size: 12px;
    padding: 15px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

/*
Las etiquetas que se encuentran después del contenedor principal se inicializan.
*/

#principal::after{
    content: "";
    clear: both;
    display: table;
}

/*
Todas las etiquetas que tienen por nombre de clase "col-" son afectadas por los atributos entre llaves.
*/

[class*="col-"] {
    float: left;
    padding: 15px;
}

/* Celulares 
Todas las etiquetas que contengan el atributo class y el valor o nombre contenido en dicho atributo es "col-" 
*/

[class*="col-"]{
    width: 100%;
}

/* Tablets */

@media only screen and (min-width:600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

/* PC de escritorio*/

@media only screen and (min-width:768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}